<div>
  <!-- <input type="submit" value="Add DATA" (click)=addData() class="btn btn-info float-right"><br><br> -->
  <h5 style="text-align:left"> USER LIST</h5>
</div>

<table class="table">
  <thead class="bg-info">
    <tr>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">EmailId</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Joining Date</th>
      <th scope="col">Address</th>
      <th scope="col">Contact</th>
      <th scope="col">Update</th>
      <th scope="col">Delete Temp</th>
      <th scope="col">Delete  Permenant</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listData">
      <td>{{list.first_name}}</td>
      <td>{{list.last_name}}</td>
      <td>{{list.email_id}}</td>
      <td>{{list.date_of_birth }}</td>
      <td>{{list.joining_date }}</td>
      <td ><a routerLink="/address" (click)=setUserAddress($event,list.user_address) >Address</a></td>
      <td ><a routerLink="/contact" (click)=setUserContact($event,list.user_contact) >Contact</a></td>
      
      
    <td> <input type="submit" value="Update" (click)=updateData($event,list.id,list,list.user_address,list.user_contact,list.user_login) class="btn btn-info btn-md"><br><br></td>
    <td> <input type="submit" value="Delete" (click)=deleteData($event,list.id,1) class="btn btn-info btn-md"><br><br>
    <td> <input type="submit" value="Delete Permenant" (click)=deleteData($event,list.id,0) class="btn btn-info btn-md"><br><br>
    </td>
    </tr>
  </tbody>
</table>